*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: casino;
    src: url(./img/fuente/Casino.ttf);
}

body{
    background-image: url(./img/piso1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.arriba{
    top: 3em;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    font-family: casino;
    color: brown;
}

.cartas{
    position: relative;
    top: 17em;
    height: 14em;
    display: flex;
    justify-content: space-around;
    right: 15em;
}

#victory{
    display: flex;
    position: relative;
    justify-content: center;
    top: 8em;
    height: 0.1em;
    font-size: 4em;
    color: gold;
    font-family: casino;
}

.info{
    top: 15em;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    position: relative;
    font-family: casino;
}

.barraAbajo{
    height: 6em;
    position: relative;
    margin-top: 33em;
}

#botones{
    top: 22em;
    font-size: 1.3em;
    position: relative;
    display: flex;
    justify-content: space-around;
}

#button{
    color: white;
    background-color: brown;
    border: 1px black solid;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1.1em;
}

#buttonQuedarse{
    color: white;
    background-color: brown;
    border: 1px black solid;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1.1em;
}

#header{
    font-size: 4em;
    position: relative;
    display: flex;
    justify-content: center;
    color: gold;
    font-family: casino;
}

#player1{
    position: absolute;
    width: 19em;
    height: 11em;
}

#player2{
    position: relative;
    left: 4em;
    top: 1em;
    width: 10em;
    height: 12em;
}

img{
    width: 10em;
    height: 10em;
}

#mesa {
    position: absolute;
    left: 14vw;
    width: 88em;
    height: 50em;
    border-radius: 30px;
    box-shadow: 5px 5px 1px color(rgb(97, 95, 95));
}