*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: casino;
    src: url(./img/fuente/Casino.ttf);
}

body{
    background-color: black;
}

.arriba{
    top: 2em;
    position: relative;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    font-family: casino;
    color: white;
}

.cartas{
    position: relative;
    top: 8em;
    height: 14em;
    display: flex;
    justify-content: space-around;
}

#victory{
    display: flex;
    position: relative;
    justify-content: center;
    top: 5em;
    height: 0.1em;
    font-size: 4em;
    color: gold;
    font-family: casino;
}

.info{
    top: 15em;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    position: relative;
    font-family: casino;
}

.barraAbajo{
    height: 6em;
    position: relative;
    margin-top: 33em;
}

#botones{
    font-size: 1.3em;
    position: relative;
    top: 1em;
    display: flex;
    justify-content: space-around;
}

#dinero{
    color: white;
}

#button{
    background-color: gold;
    border: 1px black solid;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1.1em;
}

#buttonQuedarse{
    background-color: gold;
    border: 1px black solid;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1.1em;
}

#header{
    font-size: 4em;
    position: relative;
    display: flex;
    justify-content: center;
    color: gold;
    font-family: casino;
}

#player1{
    position: absolute;
    width: 10em;
    height: 12em;
}

#player2{
    position: relative;
    left: 4em;
    top: 1em;
    width: 10em;
    height: 12em;
}

img{
    width: 10em;
    height: 10em;
}

.fondo img{
    width: 80em;
    height: 50em;
    background-repeat: no-repeat;
}