@font-face {
    font-family: fuente;
    src: url(./waltograph42.ttf);
}

body{
    background-image: url(./imagesFondo.jpg);
    background-repeat: no-repeat;
}

#titulo{
    color: black;
    font-family: fuente;
    font-size: 3em;
}

#imagen{
    position: absolute;
    margin-top: 7em;
    margin-left: 37em;
    width: auto;
    height: auto;
    border-radius: 2em;
    box-shadow: 10px 10px 10px;
    z-index: 4;
}

#nombre{
    color: white;
    font-family: fuente;
    font-size: 4em;
    margin-left: 10em;
    z-index: 5;
}

#caja{
    margin-top: 2em;
    margin-left: 42em;
    color: white;
}

#negro{
    position: relative;
    left: 25em;
    width: 70em;
    height: auto;
    background-color: black;
    border-radius: 3em;
}