*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "fuente";
    src: url(./Montserrat-VariableFont_wght.ttf);
}

body{
    font-family: fuente;
}

.barraArriba{
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #4054d4;
    height: 13em;
}

#Live{
    font-weight: 800;
    margin-top: 1em;
    font-size: 2.5em;
}

#search{
    margin-top: 0.5em;
}

#input1{
    font-size: 1em;
    margin-top: 1em;
    border: #4054d4 solid;
    border-radius: 2em;
    width: 42em;
    height: 2.5em;
}

.contenedor{
    top: 2em;
    position: relative;
    display: flex;
    border: 2px  #4054d4 solid;
    width: 65em;
    height: 8em;
    margin: 1em auto;
}

.foto{
    margin-left: 3em;
    position: relative;
    top: 2em;
    display: flex;
}

#imagen{
    border-radius: 50em;
    width: 5em;
    height: 5em;
}

.nnn{
    position: relative;
    top: 0.5em;
    left: 1em;
}

.filtro{
    display: none;
}

@media only screen and (max-width: 1060px){
    .contenedor{
        width: 55em;
    }

    #input1{
        width: 37em;
    }
}

@media only screen and (max-width: 890px){
    .contenedor{
        width: 45em;
    }

    #input1{
        width: 35em;
    }
}

@media only screen and (max-width: 737px){
    .contenedor{
        width: 40em;
    }

    #input1{
        width: 30em;
    }
}

@media only screen and (max-width: 657px){
    .contenedor{
        width: 35em;
    }

    #input1{
        width: 25em;
    }
}

@media only screen and (max-width: 570px){
    .contenedor{
        width: 30em;
    }

    #input1{
        width: 20em;
    }
}

@media only screen and (max-width: 430px){
    .contenedor{
        width: 25em;
    }

    .nnn{
        font-size: 0.8em;
    }
}