.general{
    background-image: linear-gradient(180deg, #7ec1f6, white);
    font-family: 'Oxanium', cursive;
}

#img{
    margin-top: 7em;
    width: 30em;
}

#contenido{
    font-size: 1.5em;
    position: absolute;
    margin-top: -23em;
    margin-left: 35em;
}

#gif{
    margin-top: 1.5em;
    width: 5em;
}

#derecha{
    margin-top: -0.5em;
    margin-left: 6em;
    z-index: 4;
}

#boton1,#boton2{
    background-color: brown;
}