.general{
    background-image: linear-gradient(180deg, #7ec1f6, white);
    font-family: 'Oxanium', cursive;
}

#img{
    margin-top: 7em;
    width: 30em;
}

#contenido{
    font-size: 1.5em;
    margin-top: -23em;
    margin-left: 0em;
}

#gif1{
    margin-top: 1em;
    margin-left: -3em;
    width: 4em;
    position: absolute;
}

#derecha{
    margin-top: -0.5em;
    margin-left: 6em;
    z-index: 4;
}

#boton1,#boton2{
    background-color: brown;
}

.info{
    position: absolute;
    margin-top: 7em;
    margin-left: 35em;
}

.caja1{
    position: absolute;
    margin-top: 5em;
    margin-left: 36em;
}

#derecha{
    margin-top: -2.2em;
}